@tailwind components;
@tailwind base;
@tailwind utilities;

body{
  overflow-y: hidden;
}

.nav-icon:hover path {
  fill: #000;
}
@layer base {
  @font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./assets/fonts/roboto/Roboto-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Anonymous Pro";
    font-style: normal;
    font-display: swap;
    src: url(./assets/fonts/anonymous/AnonymousPro-Regular.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "Anonymous Pro";
    font-style: italic;
    font-display: swap;
    src: url(./assets/fonts/anonymous/AnonymousPro-Italic.ttf)
      format("truetype");
  }
  @font-face {
    font-family: "Anonymous Pro";
    font-weight: 700;
    font-display: swap;
    src: url(./assets/fonts/anonymous/AnonymousPro-Bold.ttf) format("truetype");
  }
  @font-face {
    font-family: "Rubik";
    font-weight: 700;
    font-display: swap;
    src: url(assets/fonts/rubik/Rubik-Bold.ttf) format("truetype");
  }
}
